<!DOCTYPE html>
<html lang="en">

<head>
	<title>{{pageTitle}} | AO Blockchain</title>
	<!-- Required Meta Tags Always Come First -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="x-ua-compatible" content="ie=edge">

	<!-- Favicon -->
<link rel="apple-touch-icon" sizes="57x57" href="/assets/img/icons/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/assets/img/icons/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/assets/img/icons/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/assets/img/icons/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/assets/img/icons/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/assets/img/icons/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/assets/img/icons/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/assets/img/icons/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/assets/img/icons/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/assets/img/icons/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/img/icons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/assets/img/icons/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/img/icons/favicon-16x16.png">
<link rel="manifest" href="/assets/img/icons/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/assets/img/icons/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Encode+Sans:400,500,600" rel="stylesheet">

	<!-- CSS Global Compulsory -->
	<link rel="stylesheet" href="/assets/vendor/bootstrap/bootstrap.min.css">

	<!-- CSS Implementing Plugins -->
	<link rel="stylesheet" href="/assets/vendor/icon-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="/assets/vendor/icon-line-pro/style.css">
	<link rel="stylesheet" href="/assets/vendor/icon-hs/style.css">
	<link rel="stylesheet" href="/assets/vendor/dzsparallaxer/dzsparallaxer.css">
	<link rel="stylesheet" href="/assets/vendor/dzsparallaxer/dzsscroller/scroller.css">
	<link rel="stylesheet" href="/assets/vendor/dzsparallaxer/advancedscroller/plugin.css">
	<link rel="stylesheet" href="/assets/vendor/animate.css">
	<link rel="stylesheet" href="/assets/vendor/hs-megamenu/src/hs.megamenu.css">
	<link rel="stylesheet" href="/assets/vendor/hamburgers/hamburgers.min.css">
	<link rel="stylesheet" href="/assets/vendor/fancybox/jquery.fancybox.css">
	<link rel="stylesheet" href="/assets/vendor/slick-carousel/slick/slick.css">
	<link  rel="stylesheet" href="/assets/vendor/cubeportfolio-full/cubeportfolio/css/cubeportfolio.min.css">

	<!-- CSS Unify Theme -->
	<link rel="stylesheet" href="/assets/css/styles.multipage-marketing.css">

	<!-- CSS Customization -->
	<link rel="stylesheet" href="/assets/css/custom.css">

	<!-- ANALYTICS -->
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script src="/assets/vendor/jquery/jquery.min.js"></script>
	<script src='//cdn.freshmarketer.com/202200/658330.js'></script>
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-112028191-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];

		function gtag() {
			dataLayer.push(arguments);
		}
		gtag('js', new Date());

		gtag('config', 'UA-112028191-1');

	</script>
	<script id="mcjs">
		! function (c, h, i, m, p) {
			m = c.createElement(h), p = c.getElementsByTagName(h)[0], m.async = 1, m.src = i, p.parentNode.insertBefore(m, p)
		}(document, "script",
			"https://chimpstatic.com/mcjs-connected/js/users/977881fd9afe0fcd2ff16e991/7623083404f628fa49095f119.js");

	</script>

</head>

<body>
	<main>
		<!-- Header -->
		<header id="js-header" class="u-header u-header--sticky-top u-header--toggle-section u-header--change-appearance u-shadow-v19">
			<div class="u-header__section g-bg-main g-transition-0_3">
				<nav class="js-mega-menu navbar navbar-expand-lg g-pa-0">
					<div class="container">
						<!-- Logo -->
						<a class="navbar-brand g-pl-15" href="/">
							<img class="g-width-200" src="/assets/img/logo/logo.png" alt="AO Blockchain Logo">
						</a>
						<!-- End Logo -->

						<!-- Responsive Toggle Button -->
						<button class="navbar-toggler navbar-toggler-right btn g-line-height-1 g-brd-none g-pos-abs g-top-10 g-right-0 g-pa-0 g-mt-2"
						type="button" aria-label="Toggle navigation" aria-expanded="false" aria-controls="navBar" data-toggle="collapse" data-target="#navBar">
							<span class="hamburger hamburger--slider g-px-15">
								<span class="hamburger-box">
									<span class="hamburger-inner"></span>
								</span>
							</span>
						</button>
						<!-- End Responsive Toggle Button -->

						<!-- Navigation -->
						<div id="navBar" class="collapse navbar-collapse align-items-center flex-sm-row">
							<ul class="navbar-nav ml-auto g-pb-30 g-pb-0--lg">
								{{#each navLinks}}
								<li class="nav-item {{#if pages}}hs-has-sub-menu{{/if}} g-mx-15 g-mx-3--lg g-mb-5 g-mb-0--lg">
									<a {{#if pages}}id="nav-link--page" {{/if}} class="nav-link g-color-white rounded g-color-primary--hover g-bg-transparent g-bg-main--hover g-font-weight-600 g-font-size-15 g-px-14 g-py-10"
									href="{{#if href}}{{ href }}{{else}}#{{/if}}" {{#if pages}}aria-haspopup="true" aria-expanded="false" aria-controls="nav-submenu--page"
									{{/if}}>
										{{ label }}
									</a>
									{{#if pages}}
									<!-- Submenu -->
									<ul id="nav-submenu--page" class="hs-sub-menu list-unstyled u-shadow-v11 g-min-width-220 g-mt-18" aria-labelledby="nav-link--page">
										{{#each pages}}
										<li class="dropdown-item">
											<a class="nav-link g-color-text g-font-weight-600" href="{{ href }}" {{#if blank}}target="_blank"{{/if}}>{{ label }}</a>
										</li>
										{{/each}}
									</ul>
									<!-- End Submenu -->
									{{/if}}
								</li>
							{{/each}}
							<li class="nav-item g-mx-15 g-mx-3--lg g-mb-5 g-mb-0--lg">
								<a class="nav-link g-color-white d-inline-block rounded g-brd-around g-brd-2 g-brd-primary g-color-primary--hover g-bg-transparent g-bg-main--hover g-font-weight-600 g-font-size-15 g-px-20 g-py-8"
								href="{{#if user}}/profile">Profile{{else}}/admin/signin">Sign In{{/if}}</a>
							</li>
							</ul>
						</div>
						<!-- End Navigation -->

						<!-- Social Icons -->
						<ul class="col-auto list-inline g-pos-rel g-top-minus-3 g-py-20 g-py-6--lg g-pr-5 g-mr-60 g-mr-0--lg ml-auto ml-lg-0 mb-0">
							<li class="list-inline-item g-mx-0">
								<a class="u-icon-v3 u-icon-size--xs g-bg-transparent g-bg-main--hover rounded" href="https://facebook.com/aoblockchain">
									<i class="fa fa-facebook"></i>
								</a>
							</li>
							<li class="list-inline-item g-mx-0">
								<a class="u-icon-v3 u-icon-size--xs g-bg-transparent g-bg-main--hover rounded" href="https://twitter.com/aoblockchain">
									<i class="fa fa-twitter"></i>
								</a>
							</li>
							<li class="list-inline-item g-mx-0">
								<a class="u-icon-v3 u-icon-size--xs g-bg-transparent g-bg-main--hover rounded" href="https://gitlab.com/aocyber">
									<i class="fa fa-gitlab"></i>
								</a>
							</li>
						</ul>
						<!-- End Social Icons -->

						<div class="col-auto g-hidden-md-down g-pr-0">
							<div class="g-bg-primary g-cursor-pointer g-px-25 g-py-20">
								<a href="/contact">
									<span class="d-block g-color-white g-font-size-11 mb-1">Want more Info?</span>
									<span class="d-block g-color-white">
										<i class="mr-2 fa fa-phone"></i> Contact Us</span>
									</a>
							</div>
						</div>
					</div>
				</nav>
			</div>
		</header>
		<!-- End Header -->

		<div id="body">
			<!-- The content block should contain the body of your template's content-->
			{{{body}}}
		</div>

		<!-- Footer -->
		<footer>
			<div class="g-bg-dark">
				<div class="container g-pt-70 g-pb-40">
					<div class="row">
						<div class="col-6 col-md-3 g-mb-30">
							<h3 class="h6 g-color-white text-uppercase">About</h3>

							<!-- Links -->
							<ul class="list-unstyled mb-0">
								<li>
									<a class="u-link-v6 g-color-text g-color-primary--hover g-font-weight-500 g-text-underline--none--hover g-py-3" href="/team">
										About The Team
										<span class="u-link-v6-arrow g-font-size-18">&rightarrow;</span>
									</a>
								</li>
								<li>
									<a class="u-link-v6 g-color-text g-color-primary--hover g-font-weight-500 g-text-underline--none--hover g-py-3" href="/join-us">
										Join Us
										<span class="u-link-v6-arrow g-font-size-18">&rightarrow;</span>
									</a>
								</li>
								<li>
									<a class="u-link-v6 g-color-text g-color-primary--hover g-font-weight-500 g-text-underline--none--hover g-py-3" href="/contact">
										Contact
										<span class="u-link-v6-arrow g-font-size-18">&rightarrow;</span>
									</a>
								</li>
							</ul>
							<!-- End Links -->
						</div>

						<div class="col-6 col-md-3 g-mb-30">
							<h3 class="h6 g-color-white text-uppercase">Support</h3>

							<!-- Links -->
							<ul class="list-unstyled mb-0">
								<li>
									<a class="u-link-v6 g-color-text g-color-primary--hover g-font-weight-500 g-text-underline--none--hover g-py-3" href="http://support.aoblockchain.io">
										<span>Support Site</span>
										<span class="u-link-v6-arrow g-font-size-18">&rightarrow;</span>
									</a>
								</li>
								<li>
									<a class="u-link-v6 g-color-text g-color-primary--hover g-font-weight-500 g-text-underline--none--hover g-py-3" href="http://docs.aoblockchain.io">
										<span>White Paper</span>
										<span class="u-link-v6-arrow g-font-size-18">&rightarrow;</span>
									</a>
								</li>
								<li>
									<a class="u-link-v6 g-color-text g-color-primary--hover g-font-weight-500 g-text-underline--none--hover g-py-3" href="http://docs.aoblockchain.io">
										<span>Documentation</span>
										<span class="u-link-v6-arrow g-font-size-18">&rightarrow;</span>
									</a>
								</li>
								<li>
									<a class="u-link-v6 g-color-text g-color-primary--hover g-font-weight-500 g-text-underline--none--hover g-py-3" href="https://join.slack.com/t/aoblockchain/shared_invite/enQtMjk1ODc0Nzc5NjIzLTA1YTQ2YjIyOWEwMDZlYTIyZjExMGEwOGEwM2VkZWIzZDA3MmMwYjU5YWNkZTkyYTQ1MGViMjgyMjkxZDEyOWI">
										<span>Slack Invite Link</span>
										<span class="u-link-v6-arrow g-font-size-18">&rightarrow;</span>
									</a>
								</li>
							</ul>
							<!-- End Links -->
						</div>

						<div class="col-6 col-md-3 g-mb-30">
							<h3 class="h6 g-color-white text-uppercase">Policies</h3>

							<!-- Links -->
							<ul class="list-unstyled mb-0">
								<li>
									<a class="u-link-v6 g-color-text g-color-primary--hover g-font-weight-500 g-text-underline--none--hover g-py-3" href="/privacy">
										<span>Privacy Policy</span>
										<span class="u-link-v6-arrow g-font-size-18">&rightarrow;</span>
									</a>
								</li>
								<li>
									<a class="u-link-v6 g-color-text g-color-primary--hover g-font-weight-500 g-text-underline--none--hover g-py-3" href="/terms">
										<span>Terms of Use</span>
										<span class="u-link-v6-arrow g-font-size-18">&rightarrow;</span>
									</a>
								</li>
								<li>
									<a class="u-link-v6 g-color-text g-color-primary--hover g-font-weight-500 g-text-underline--none--hover g-py-3" href="/cookies">
										<span>Cookies</span>
										<span class="u-link-v6-arrow g-font-size-18">&rightarrow;</span>
									</a>
								</li>
							</ul>
							<!-- End Links -->
						</div>

						<div class="col-6 col-md-3 g-mb-30">
							<h3 class="h6 g-color-white text-uppercase">Wallet Links (Coming Soon!)</h3>

							<!-- Links -->
							<ul class="list-inline">
								<li class="list-inline-item mb-1">
									<a class="u-icon-v2 u-icon-size--xs g-brd-gray-light-v2 g-brd-primary--hover g-color-gray-light-v1 g-color-primary--hover rounded"
									href="#">
										<i class="fa fa-android"></i>
									</a>
								</li>
								<li class="list-inline-item mb-1">
									<a class="u-icon-v2 u-icon-size--xs g-brd-gray-light-v2 g-brd-primary--hover g-color-gray-light-v1 g-color-primary--hover rounded"
									href="#">
										<i class="fa fa-apple"></i>
									</a>
								</li>
								<li class="list-inline-item mb-1">
									<a class="u-icon-v2 u-icon-size--xs g-brd-gray-light-v2 g-brd-primary--hover g-color-gray-light-v1 g-color-primary--hover rounded"
									href="#">
										<i class="fa fa-windows"></i>
									</a>
								</li>
								<li class="list-inline-item mb-1">
									<a class="u-icon-v2 u-icon-size--xs g-brd-gray-light-v2 g-brd-primary--hover g-color-gray-light-v1 g-color-primary--hover rounded"
									href="#">
										<i class="fa fa-html5"></i>
									</a>
								</li>
							</ul>

							<!--<ul class="list-unstyled mb-4">
								<li>
									<a class="u-link-v6 g-color-text g-color-primary--hover g-font-weight-500 g-text-underline--none--hover g-py-3" href="#">
										<span>How to Install Apps</span>
										<span class="u-link-v6-arrow g-font-size-18">&rightarrow;</span>
									</a>
								</li>
							</ul>-->
							<!-- End Links -->
						</div>
					</div>
				</div>
			</div>

			<div class="g-bg-dark-light-v1">
				<div class="container g-pt-30">
					<div class="row align-items-center">
						<div class="col-md-4 text-center text-md-left g-mb-30">
							<!-- Logo -->
							<a class="g-text-underline--none--hover mr-4" href="/">
								<img class="g-width-95" src="/assets/img/icons/favicon-96x96.png" alt="Logo">
							</a>
							<!-- End Logo -->
							<p class="d-inline-block align-middle g-font-size-13 mb-0">&#169; 2017 <a href="https://dontpanic.consulting">Don't Panic Consulting</a>.
								<br>All Rights Reserved.</p>
						</div>

						<div class="col-md-4 g-mb-30">
							<!-- Social Icons -->
							<ul class="list-inline text-center mb-0">
								<li class="list-inline-item">
									<a class="u-icon-v3 u-icon-size--sm g-color-gray-light-v1 g-color-primary--hover g-bg-transparent g-bg-main--hover rounded"
									href="https://facebook.com/aoblockchain">
										<i class="fa fa-facebook"></i>
									</a>
								</li>
								<li class="list-inline-item">
									<a class="u-icon-v3 u-icon-size--sm g-color-gray-light-v1 g-color-primary--hover g-bg-transparent g-bg-main--hover rounded"
									href="https://twitter.com/aoblockchain">
										<i class="fa fa-twitter"></i>
									</a>
								</li>
								<li class="list-inline-item">
									<a class="u-icon-v3 u-icon-size--sm g-color-gray-light-v1 g-color-primary--hover g-bg-transparent g-bg-main--hover rounded"
									href="https://gitlab.com/aoblockchain">
										<i class="fa fa-gitlab"></i>
									</a>
								</li>
								<li class="list-inline-item">
									<a class="u-icon-v3 u-icon-size--sm g-color-gray-light-v1 g-color-primary--hover g-bg-transparent g-bg-main--hover rounded"
									href="/coming-soon">
										<i class="fa fa-youtube"></i>
									</a>
								</li>
							</ul>
							<!-- End Social Icons -->
						</div>

						<div class="col-md-4 g-mb-30 text-right">
							<div class="d-inline-block g-mx-15">
								<h4 class="g-color-text g-font-size-11 text-left text-uppercase">Email</h4>
								<a href="#">info@aoblockchain.io</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!-- End Footer -->

		<!-- Go to Top -->
		<a class="js-go-to u-go-to-v1 g-width-40 g-height-40 g-color-primary g-bg-main-opacity-0_5 g-bg-main--hover g-bg-main--focus g-font-size-12 rounded"
		href="#" data-type="fixed" data-position='{
       "bottom": 15,
       "left": 15
     }' data-offset-top="400" data-compensation="#js-header" data-show-effect="zoomIn">
			<i class="hs-icon hs-icon-arrow-top"></i>
		</a>
		<!-- End Go to Top -->
	</main>

	<!-- JS Global Compulsory -->
	
	<script src="/assets/vendor/jquery-migrate/jquery-migrate.min.js"></script>
	<script src="/assets/vendor/popper.min.js"></script>
	<script src="/assets/vendor/bootstrap/bootstrap.min.js"></script>

	<!-- JS Implementing Plugins -->
	<script src="/assets/vendor/hs-megamenu/src/hs.megamenu.js"></script>
	<script src="/assets/vendor/dzsparallaxer/dzsparallaxer.js"></script>
	<script src="/assets/vendor/dzsparallaxer/dzsscroller/scroller.js"></script>
	<script src="/assets/vendor/dzsparallaxer/advancedscroller/plugin.js"></script>
	<script src="/assets/vendor/fancybox/jquery.fancybox.min.js"></script>
	<script src="/assets/vendor/slick-carousel/slick/slick.js"></script>
	<script src="/assets/vendor/appear.js" ></script>
	<script src="/assets/vendor/gmaps/gmaps.min.js"></script>
	<script  src="/assets/vendor/cubeportfolio-full/cubeportfolio/js/jquery.cubeportfolio.min.js"></script>

	<!-- JS Unify -->
	<script src="/assets/js/hs.core.js"></script>
	<script src="/assets/js/components/hs.header.js"></script>
	<script src="/assets/js/helpers/hs.hamburgers.js"></script>
	<script src="/assets/js/components/hs.dropdown.js"></script>
	<script src="/assets/js/components/hs.popup.js"></script>
	<script src="/assets/js/components/hs.carousel.js"></script>
	<script src="/assets/js/components/hs.go-to.js"></script>
	<script src="/assets/js/components/gmap/hs.map.js"></script>
	<script src="/assets/js/components/hs.tabs.js" ></script>
	<script src="/assets/js/components/hs.sticky-block.js"></script>
	<script  src="/assets/js/components/hs.cubeportfolio.js"></script>
	<script  src="/assets/js/components/hs.count-qty.js"></script>


	<!-- JS Customization -->
	<script src="/assets/js/custom.js"></script>
	<script>
		$(document).on('ready', function () {
			// initialization of header
			$.HSCore.components.HSHeader.init($('#js-header'));
			$.HSCore.helpers.HSHamburgers.init('.hamburger');

			// initialization of HSMegaMenu component
			$('.js-mega-menu').HSMegaMenu({
				event: 'hover',
				pageContainer: $('.container'),
				breakpoint: 991
			});

			// initialization of HSDropdown component
			$.HSCore.components.HSDropdown.init($('[data-dropdown-target]'), {
				afterOpen: function () {
					$(this).find('input[type="search"]').focus();
				}
			});

			// initialization of popups
			$.HSCore.components.HSPopup.init('.js-fancybox');

			// initialization of carousel
			$.HSCore.components.HSCarousel.init('.js-carousel');

			// initialization of go to
			$.HSCore.components.HSGoTo.init('.js-go-to');

			 // Tabs
			$.HSCore.components.HSTabs.init('[role="tablist"]');
			
			// initialization of cubeportfolio
    		$.HSCore.components.HSCubeportfolio.init('.cbp');

			$(window).on('resize', function () {
				setTimeout(function () {
				$.HSCore.components.HSTabs.init('[role="tablist"]');
				}, 200);
			});
	
			// initialization of sticky blocks
			$.HSCore.components.HSStickyBlock.init('.js-sticky-block');
	      	$.HSCore.components.HSCountQty.init('.js-quantity');


			// initialization of counters
            // $.HSCore.components.HSCounter.init('[class*="js-counter"]');

			$('.investChat').on('click',function(event, data) {
				if (window.fcWidget.isOpen({ name: 'Investor Relations'}) != true) {
					window.fcWidget.open({ name: 'Investor Relations'});
				}
				return false;
			});
			$('.supportChat').on('click',function(event, data) {
				if (window.fcWidget.isOpen({ name: 'Support'}) != true) {
					window.fcWidget.open({ name: 'Support'});
				}
		    	return false;

			});
		});
		function initMap() {
			$.HSCore.components.HSGMap.init('.js-g-map');
		}
	</script>
	<script src="//maps.googleapis.com/maps/api/js?key=AIzaSyAtt1z99GtrHZt_IcnK-wryNsQ30A112J0&callback=initMap" async defer></script>
	<script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script>
	<script type="text/javascript">
		require(["mojo/signup-forms/Loader"], function (L) {
			L.start({
				"baseUrl": "mc.us17.list-manage.com",
				"uuid": "977881fd9afe0fcd2ff16e991",
				"lid": "9658140b89"
			})
		})

	</script>
	<!-- Start of aocyber Zendesk Widget script -->
<script>/*<![CDATA[*/window.zEmbed||function(e,t){var n,o,d,i,s,a=[],r=document.createElement("iframe");window.zEmbed=function(){a.push(arguments)},window.zE=window.zE||window.zEmbed,r.src="javascript:false",r.title="",r.role="presentation",(r.frameElement||r).style.cssText="display: none",d=document.getElementsByTagName("script"),d=d[d.length-1],d.parentNode.insertBefore(r,d),i=r.contentWindow,s=i.document;try{o=s}catch(e){n=document.domain,r.src='javascript:var d=document.open();d.domain="'+n+'";void(0);',o=s}o.open()._l=function(){var e=this.createElement("script");n&&(this.domain=n),e.id="js-iframe-async",e.src="https://assets.zendesk.com/embeddable_framework/main.js",this.t=+new Date,this.zendeskHost="aocyber.zendesk.com",this.zEQueue=a,this.body.appendChild(e)},o.write('<body onload="document._l();">'),o.close()}();
/*]]>*/</script>
<!-- End of aocyber Zendesk Widget script -->


</body>

</html>
