{{!< default}}
<section class="section-lg home home-alt bg-solid" id="home">
    <div class="container">
        <div class="row vertical-content">
            <div class="col-md-6">
                <div class="home-wrapper">
                    <p class="">Rise User Friendly Decentralized Application and Investment Platform</p>
                    <div class="text-white">
                        <h1 class="text-white">Easy App Development, Backed by the Blockchain</h1>
                    </div>

                    <a href="/signUp" class="btn btn-custom">Get Started</a>
					<a href="/ico" class="btn btn-custom pull-right">More Info</a>
                </div>
            </div>

            <!--begin col-md-6-->
            <div class="col-md-6 wow slideInRight" data-wow-delay="2.25s">

                <iframe width="560" height="315" src="https://www.youtube.com/embed/9hN60Y6GTcU" frameborder="0" allowfullscreen></iframe>

            </div>
            <!--end col-md-6-->

        </div>
    </div>
</section>


<section>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="facts-box text-center">
                    <div class="row">
                        <div class="col-sm-6 col-xs-6">
                            <h2>฿{{data.btcAmount}}</h2>
                            <p class="text-muted">BTC Raised</p>
                        </div>
						
                        <div class="col-sm-6 col-xs-6">
                            <h2>${{data.riseUSD}}</h2>
                            <p class="text-muted">Market Cap</p>
                        </div>

                        <div class="col-sm-6 col-xs-6">
                            <h2>฿{{data.riseBTC}}</h2>
                            <p class="text-muted">BTC/RISE</p>
                        </div>
						
                        <div class="col-sm-6 col-xs-6">
                            <h2>{{data.investments}}</h2>
                            <p class="text-muted">Investments</p>
                        </div>
						<!--
                        <div class="col-sm-3 col-xs-6">
                            <h2>3</h2>
                            <p class="text-muted">Dapps</p>
                        </div>

                        <div class="col-sm-3 col-xs-6">
                            <h2>101</h2>
                            <p class="text-muted">Total Nodes</p>
                        </div>
                        -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="clearfix"></div>


<section class="section" id="features">
    <div class="container">
        <div class="row vertical-content">

            <div class="col-sm-6">
                <img src="images/imac.png" class="img-responsive" alt="img">
            </div>

            <div class="col-sm-6">
                <div class="features-alt">
                    <div class="feature-alt-icon">
                        <i class="pe-7s-bicycle"></i>
                    </div>
                    <h4 class="text-muted">Scalable on Devices</h4>
                    <h3>Rise Currency and Applications Everywhere. </h3>

                    <p class="text-muted">Our number one goal is to make Rise accessible to everybody. This means we're putting massive effort into making our web interface scale across all devices. By keeping within cryptocurrency core values, you'll be able to transfer value, build applications, trade and even invest via an easy to use and decentralized UI.</p>

                </div>
            </div>

        </div>
    </div>
</section>


<section class="section" id="features">
    <div class="container">
        <div class="row vertical-content">

            <div class="col-sm-6">
                <div class="features-alt text-right">
                    <div class="feature-alt-icon">
                        <i class="pe-7s-light"></i>
                    </div>
                    <h4 class="text-muted">Investments and "Banking" Revolutionized</h4>
                    <h3>We want to change the way you handle your money, and your wealth.</h3>

                    <p class="text-muted">We have put a lot of thought into what we want RISE to be. We are going to 
						provide tools to manage your RISE, your Bitcoins, and your investments with those currencies.
						Manage your CryptoCurrencies in one place, and in the future, pay your bills, pay your rent, 
						or even buy your house.
					</p>

                    <p class="text-muted">One of our first major Application projects is Project Acre, a real estate 
						investment platform that will enable you to invest in a building project, and get a percent, 
						based on your investment, of the profits. More details will be coming after our ICO!
					</p>
                </div>
            </div>

            <div class="col-sm-6">
                <img src="images/yellow.png" class="img-responsive" alt="img">
            </div>

        </div>
    </div>
</section>
<section class="section" id="features">
    <div class="container">

        <div class="row">
            <div class="col-sm-4">
                <div class="features-box text-center">
                    <div class="feature-icon">
                        <i class="pe-7s-science"></i>
                    </div>
                    <h3>Ubiquitous Currency</h3>

                    <p class="text-muted">We are designing systems that will enable spending RISE just like 
						traditional fiat currency. Pay your bills, buy food, and send money to your friends and 
						family with RISE.</p>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="features-box text-center">
                    <div class="feature-icon">
                        <i class="pe-7s-light"></i>
                    </div>
                    <h3>Community-driven Foundation</h3>

                    <p class="text-muted">We are a group of highly talented enthuiasts, but we don't know everything
						. We will be building a foundation, post ICO, to get the community involved. Voting on 
						features we need, and where the foundation will go from the initial launch will be the job 
						of the community.</p>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="features-box text-center">
                    <div class="feature-icon">
                        <i class="pe-7s-display1"></i>
                    </div>
                    <h3>Digital and Physical</h3>

                    <p class="text-muted">We are working to bridge the gap between physical and virtual. RISE is our 
						first step towards this goal. Ultimately, we want you to be able to pay for both Digital and 
						Physical goods with RISE, as if it were your country's FIAT.
					</p>
                </div>
            </div>
        </div>

    </div>
</section>


<section class="section bg-white" id="team">
    <div class="container">

        <div class="row">
            <div class="col-sm-12 text-center">
                <h2 class="title">Our Founders</h2>
                <p class="title-alt">Here's to the Crazy Ones, our Fearless Leaders
					<br />Meet our entire <a href="/team">Team</a></p>
				
            </div>
        </div>


        <div class="row">
			{{# each data.team}}
            <div class="col-md-4">
                <div class="team-box text-center">
                    <img src="{{image.secure_url}}" class="author-img center-block img-circle">

                    <h4>{{name.first}} {{name.last}}</h4>
                    <p>{{title}}</p>
                    <ul class="list-inline footer-social-one team-member-social m-b-0">
						{{#if github}}<li><a href="{{github}}"><i class="pe-so-github"></i></a></li>{{/if}}
                        <li><a href="{{twitter}}"><i class="pe-so-twitter"></i></a></li>
                        <li><a href="{{linkedIn}}"><i class="pe-so-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
			{{/each}}
        </div>

    </div>
</section>
<section class="section" id="partners">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 text-center">
				<h2 class="title">Our Partners</h2>
				<p class="title-alt">Companies who have provided a service, or are supporting us in some way.
					<br />See our <a href="https://risevisionfoundation.atlassian.net/wiki/display/RC/Technical+White+Paper" target="_blank">technology stack</a>.</p>
			</div>
		</div>
        <div class="row">
			{{# each data.partner}}
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <a href="{{url}}" target="_blank"><img src="{{logo.secure_url}}" alt="{{partner}} image"></a>
                        <div class="caption">
                            <h3>{{partner}}</h3>
                            <p>{{description}}</p>
                        </div>
                    </div>
                </div>
			{{/each}}
        </div>
	</div>
</section>
<section class="section bg-white" id="faqs">
    <div class="container">
        <div class="row text-center">
            <div class="col-sm-12">
                <h2 class="title">FAQ</h2>

                <div class="row text-left">
					{{# each data.faq}}
                        <div class="col-sm-6">
                            <div class="question-box">
                                <h4><span class="text-colored">Q.</span>{{title}}</h4>
                                <p><span><b>A. </b></span>{{answer}}</p>
                            </div>
                        </div>
					{{/each}}

                </div>
            </div> <!-- end Col -->
        </div>

    </div>
</section>
