{{!< default}}
<section class="section-lg home home-alt bg-solid" id="home">
    <div class="container">
        <div class="row vertical-content">
            <div class="col-md-6">
                <div class="home-wrapper">
                    <p class="">AO Blockchain System for Business and Investments</p>
                    <div class="text-white">
                        <h1 class="text-white">Business, Investment, and Banking on the Blockchain</h1>
                    </div>

                    <!--<a href="/signUp" class="btn btn-custom">Get Started</a>-->
					<a href="/pre-sale" class="btn btn-custom pull-right">More Info</a>
                </div>
            </div>

            <!--begin col-md-6
            <div class="col-md-6 wow slideInRight" data-wow-delay="2.25s">

                <iframe width="560" height="315" src="https://www.youtube.com/embed/9hN60Y6GTcU" frameborder="0" allowfullscreen></iframe>

            </div>
            end col-md-6-->

        </div>
    </div>
</section>


<section>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="facts-box text-center">
                    <div class="row">
                        <div class="col-sm-6 col-xs-6">
                            <h2>฿{{data.btcAmount}}</h2>
                            <p class="text-muted">BTC Raised</p>
                        </div>
						
                        <div class="col-sm-6 col-xs-6">
                            <h2>฿{{data.bchAmount}}</h2>
                            <p class="text-muted">BHC Raised</p>
                        </div>

                        <div class="col-sm-6 col-xs-6">
                            <h2>Ξ{{data.etcAmount}}</h2>
                            <p class="text-muted">ETH Raised</p>
                        </div>
						
                        <div class="col-sm-6 col-xs-6">
                            <h2>Ł{{data.ltcAmount}}</h2>
                            <p class="text-muted">LTC Raised</p>
                        </div>
                        
                        <div class="col-sm-6 col-xs-6">
                            <h2>${{data.aoCoinUSD}}</h2>
                            <p class="text-muted">Market Cap</p>
                        </div>
						
                        <div class="col-sm-6 col-xs-6">
                            <h2>{{data.investments}}</h2>
                            <p class="text-muted">Investments</p>
                        </div>
						<!--
                        <div class="col-sm-3 col-xs-6">
                            <h2>3</h2>
                            <p class="text-muted">Dapps</p>
                        </div>

                        <div class="col-sm-3 col-xs-6">
                            <h2>101</h2>
                            <p class="text-muted">Total Nodes</p>
                        </div>
                        -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="clearfix"></div>


<section class="section" id="features">
    <div class="container">
        <div class="row vertical-content">

            <div class="col-sm-6">
                <img src="images/imac.png" class="img-responsive" alt="img">
            </div>

            <div class="col-sm-6">
                <div class="features-alt">
                    <div class="feature-alt-icon">
                        <i class="pe-7s-global"></i>
                    </div>
                    <h4 class="text-muted">Business Transaction Blockchain</h4>
                    <h3>AO Blockchain is Business</h3>

                    <p class="text-muted" data-ks-editable="editable">Designed with Business in mind, AO Blockchain supports Asset and Inventory Management, Accounting, Contracts, Payment distributions, procurement, and other transactions through its robust and simple to use asset and contract system.</p>
                    <p class="text-muted">Whether you are using smart contracts to automate payments to suppliers, or contractors, or preparing quarterly or yearly accounting documents for owners, the SEC, or other shareholders, AO Blockchain is built for business.</p>
                </div>
            </div>

        </div>
    </div>
</section>


<section class="section" id="features">
    <div class="container">
        <div class="row vertical-content">

            <div class="col-sm-6">
                <div class="features-alt text-right">
                    <div class="feature-alt-icon">
                        <i class="pe-7s-cash"></i>
                    </div>
                    <h4 class="text-muted">Investments and Banking Revolutionized</h4>
                    <h3>AO Blockchain is Banking and Investments</h3>

                    <p class="text-muted">AO Blockchain System will support all banking and Investment transactions, across currencies, commodities, stocks, bonds, and real estate. Support for P2P loans, institutional loans, ICOs, and other investments are built in.
					</p>

                    <p class="text-muted">With support for multiple currencies, and the building of a gateway bank by the founders of AO Blockchain, you can manage all of your finances from one location. All of your crypto-currencies, all of your fiat currency, and all of your investments on the system. Keep track of your personal and business net worth from one location.
					</p>
                </div>
            </div>

            <div class="col-sm-6">
                <img src="images/yellow.png" class="img-responsive" alt="img">
            </div>

        </div>
    </div>
</section>
<section class="section" id="features">
    <div class="container">

        <div class="row">
            <div class="col-sm-4">
                <div class="features-box text-center">
                    <div class="feature-icon">
                        <i class="pe-7s-monitor"></i>
                    </div>
                    <h3>Responsive Web Interface and Mobile Apps</h3>

                    <p class="text-muted">The AO Blockchain Web Interface and Mobile Applications can connect to any AO Blockchain node or delegate. This allows for all of our users to keep a copy of the entire blockchain on a server they control, or use any AO Delegate or Node.</p>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="features-box text-center">
                    <div class="feature-icon">
                        <i class="pe-7s-way"></i>
                    </div>
                    <h3>Business-Driven with Community Input</h3>

                    <p class="text-muted">Initial development, and the first few years of operation, will be managed by Don't Panic Consulting and its partners, while soliciting advice and recommendations from the community. Delegates have direct say in any major changes to the network.</p>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="features-box text-center">
                    <div class="feature-icon">
                        <i class="pe-7s-id"></i>
                    </div>
                    <h3>Public, Private, and Permissioned Blockchain</h3>

                    <p class="text-muted">AO Blockchain System supports multiple operating modes. Enable encryption of transaction payloads on a per-transaction basis, or keep everything in the open. A built in identity system supports KYC / AML and Enterprise Directory and SSO systems.
					</p>
                </div>
            </div>
        </div>

    </div>
</section>


<section class="section bg-white" id="team">
    <div class="container">

        <div class="row">
            <div class="col-sm-12 text-center">
                <h2 class="title">Our Founders</h2>
                <p class="title-alt">Here's to the Crazy Ones, our Fearless Leaders
					<br />Meet our entire <a href="/team">Team</a></p>
				
            </div>
        </div>


        <div class="row">
			{{# each data.team}}
            <div class="col-md-4">
                <div class="team-box text-center">
                    <img src="{{image.secure_url}}" class="author-img center-block img-circle">

                    <h4>{{name.first}} {{name.last}}</h4>
                    <p>{{title}}</p>
                    <ul class="list-inline footer-social-one team-member-social m-b-0">
						{{#if github}}<li><a href="{{github}}"><i class="pe-so-github"></i></a></li>{{/if}}
                        <li><a href="{{twitter}}"><i class="pe-so-twitter"></i></a></li>
                        <li><a href="{{linkedIn}}"><i class="pe-so-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
			{{/each}}
        </div>

    </div>
</section>
<section class="section" id="partners">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 text-center">
				<h2 class="title">Our Partners</h2>
				<p class="title-alt">Companies who have provided a service, or are supporting us in some way.
					<br />See our <a href="https://risevisionfoundation.atlassian.net/wiki/display/RC/Technical+White+Paper" target="_blank">technology stack</a>.</p>
			</div>
		</div>
        <div class="row">
			{{# each data.partner}}
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <a href="{{url}}" target="_blank"><img src="{{logo.secure_url}}" alt="{{partner}} image"></a>
                        <div class="caption">
                            <h3>{{partner}}</h3>
                            <p>{{description}}</p>
                        </div>
                    </div>
                </div>
			{{/each}}
        </div>
	</div>
</section>
<section class="section bg-white" id="faqs">
    <div class="container">
        <div class="row text-center">
            <div class="col-sm-12">
                <h2 class="title">FAQ</h2>

                <div class="row text-left">
					{{# each data.faq}}
                        <div class="col-sm-6">
                            <div class="question-box">
                                <h4><span class="text-colored">Q.</span>{{title}}</h4>
                                <p><span><b>A. </b></span>{{answer}}</p>
                            </div>
                        </div>
					{{/each}}

                </div>
            </div> <!-- end Col -->
        </div>

    </div>
</section>
