<div class="g-pos-rel g-py-30 g-mt-80">
	<div class="container">
		<div class="row justify-content-center">
			<h1>Password Reset</h1>
			<!--
				Flash messages allow you to display once-off status messages to users, e.g. form
				validation errors, success messages, etc
			-->
			{{#if messages}}
			<div id="flash-messages" class="container">
				{{#if messages.info}}
				<div class="alert alert-info">
					{{{flashMessages messages.info}}}
				</div>
				{{/if}} {{#if messages.success}}
				<div class="alert alert-success">
					{{{flashMessages messages.success}}}
				</div>
				{{/if}} {{#if messages.warning}}
				<div class="alert alert-warning">
					{{{flashMessages messages.warning}}}
				</div>
				{{/if}} {{#if messages.error}}
				<div class="alert alert-danger">
					{{{flashMessages messages.error}}}
				</div>
				{{/if}}
			</div>
			{{/if}}
			<!-- The content block should contain the body of your template's content-->
			{{{body}}}
		</div>

		<div class="col-sm-8 col-md-6">
			{{#if invalidId}}
			<h3>The password reset link you used is invalid.</h3>
<div class="row no-gutters">
                  <div class="col">
                    <a class="btn btn-block u-btn-primary g-font-weight-600 g-font-size-12 text-uppercase g-rounded-right-0 g-rounded-left-3 g-px-25 g-py-13" href="/admin/signin">
                      Sign In
                      <i class="g-pos-rel g-top-minus-1 ml-2 fa fa-angle-right"></i>
                    </a>
                  </div>
                  <div class="col">
                    <a class="btn btn-block u-btn-black g-font-weight-600 g-font-size-12 text-uppercase g-rounded-left-0 g-rounded-right-3 g-px-25 g-py-13" href="/requestReset">
                      Reset Password
                      <i class="g-pos-rel g-top-minus-1 ml-2 fa fa-angle-right"></i>
                    </a>
                  </div>
                </div>
			{{else}} {{#if isPost}}
			<h3>Your password has been successfully changed.</h3>
			{{else}}
			<form method="post">
				<input type="hidden" name="action" value="contact">
				<div class="row">
					<div class="form-group col-md-6 {{#if validationErrors.password}}has-error{{/if}}">
						<label>Password</label>
						<input type="password" name="password" placeholder="(required)" class="form-control" value="{{formData.password}}"> {{#if validationErrors.password}}
						<span class="help-block">{{validationErrors.password.error}}</span>{{/if}}
					</div>
					<div class="form-group col-md-6 {{#if validationErrors.password_confirm}}has-error{{/if}}">
						<label>Confirm Password</label>
						<input type="password" name="password_confirm" placeholder="(required)" class="form-control" value="{{formData.password_confirm}}">
					</div>
				</div>
				<div class="form-actions">
					<button type="submit" class="btn btn-block u-btn-primary g-font-weight-600 g-font-size-12 text-uppercase g-rounded-right-0 g-rounded-left-3 g-px-25 g-py-13">Send</button>
				</div>
			</form>
			{{/if}} {{/if}}
		</div>
	</div>
</div>
