<!-- Services -->
<div class="container g-pt-100 g-pb-70">
	<div class="row">
		<div class="col-md-12">
			<h1>Profile - {{user.name.first}} {{user.name.last}}</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-9 g-mb-30">
			<div class="row g-mb-40">
				<div class="col-md-3 g-mb-30 g-mb-0--md">
					<div class="g-bg-main g-color-white g-pa-25">
						<header class="d-flex text-uppercase g-mb-40">
							<i class="icon-people align-self-center display-4 g-mr-20"></i>

							<div class="g-line-height-1">
								<h4 class="h5">BTC Spent</h4>
								<div class="js-counter g-font-size-30" data-comma-separated="true">฿{{user.investedBTC}}</div>
							</div>
						</header>

						<h6 class="g-mb-10">Percent of Spend
							<span class="float-right g-ml-10">{{user.investedBTCPercent}}%</span>
						</h6>
						<div class="js-hr-progress-bar progress g-bg-black-opacity-0_1 rounded-0 g-mb-10">
							<div class="js-hr-progress-bar-indicator progress-bar g-bg-white u-progress-bar--xs" role="progressbar" style="width: {{user.investedBTCPercent}}%;"
							aria-valuenow="{{user.investedBTCPercent}}" aria-valuemin="0" aria-valuemax="100"></div>
						</div>
					</div>
				</div>

				<div class="col-md-3">
					<div class="g-bg-main g-color-white g-pa-25">
						<header class="d-flex text-uppercase g-mb-40">
							<i class="icon-layers align-self-center display-4 g-mr-20"></i>

							<div class="g-line-height-1">
								<h4 class="h5">ETH Spent</h4>
								<div class="js-counter g-font-size-30" data-comma-separated="true">Ξ{{user.investedETH}}</div>
							</div>
						</header>


						<h6 class="g-mb-10">Percent of Spend
							<span class="float-right g-ml-10">{{user.investedETHPercent}}%</span>
						</h6>
						<div class="js-hr-progress-bar progress g-bg-black-opacity-0_1 rounded-0 g-mb-10">
							<div class="js-hr-progress-bar-indicator progress-bar g-bg-white u-progress-bar--xs" role="progressbar" style="width: {{user.investedETHPercent}}%;"
							aria-valuenow="{{user.investedETHPercent}}" aria-valuemin="0" aria-valuemax="100"></div>
						</div>
					</div>
				</div>

				<div class="col-md-3 g-mb-30 g-mb-0--md">
					<div class="g-bg-primary g-color-white g-pa-25">
						<header class="d-flex text-uppercase g-mb-40">
							<i class="icon-people align-self-center display-4 g-mr-20"></i>

							<div class="g-line-height-1">
								<h4 class="h5">BCH Spent</h4>
								<div class="js-counter g-font-size-30" data-comma-separated="true">฿{{user.investedBCH}}</div>
							</div>
						</header>

						<h6 class="g-mb-10">Percent of Spend
							<span class="float-right g-ml-10">{{user.investedBCHPercent}}%</span>
						</h6>
						<div class="js-hr-progress-bar progress g-bg-black-opacity-0_1 rounded-0 g-mb-10">
							<div class="js-hr-progress-bar-indicator progress-bar g-bg-white u-progress-bar--xs" role="progressbar" style="width: {{user.investedBCHPercent}}%;"
							aria-valuenow="{{user.investedBCHPercent}}" aria-valuemin="0" aria-valuemax="100"></div>
						</div>
					</div>
				</div>

				<div class="col-md-3">
					<div class="g-bg-primary g-color-white g-pa-25">
						<header class="d-flex text-uppercase g-mb-40">
							<i class="icon-layers align-self-center display-4 g-mr-20"></i>

							<div class="g-line-height-1">
								<h4 class="h5">LTC Spent</h4>
								<div class="js-counter g-font-size-30" data-comma-separated="true">Ł{{user.investedLTC}}</div>
							</div>
						</header>

						<h6 class="g-mb-10">Percent of Spend
							<span class="float-right g-ml-10">{{user.investedLTCPercent}}%</span>
						</h6>
						<div class="js-hr-progress-bar progress g-bg-black-opacity-0_1 rounded-0 g-mb-10">
							<div class="js-hr-progress-bar-indicator progress-bar g-bg-white u-progress-bar--xs" role="progressbar" style="width: {{user.investedLTCPercent}}%;"
							aria-valuenow="{{user.investedLTCPercent}}" aria-valuemin="0" aria-valuemax="100"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="row g-mb-40">
				<div class="col-md-6 g-mb-30 g-mb-0--md">
					<div class="g-bg-primary g-color-white g-pa-25">
						<header class="d-flex text-uppercase g-mb-40">
							<i class="icon-people align-self-center display-4 g-mr-20"></i>

							<div class="g-line-height-1">
								<h4 class="h5">USD Value</h4>
								<div class="js-counter g-font-size-30" data-comma-separated="true">${{user.totalUSD}}</div>
							</div>
						</header>

						<h6 class="g-mb-10">Percent of Revenue
							<span class="float-right g-ml-10">{{user.percentRevenue}}%</span>
						</h6>
						<div class="js-hr-progress-bar progress g-bg-black-opacity-0_1 rounded-0 g-mb-10">
							<div class="js-hr-progress-bar-indicator progress-bar g-bg-white u-progress-bar--xs" role="progressbar" style="width: {{user.percentRevenue}}%;"
							aria-valuenow="{{user.percentRevenue}}" aria-valuemin="0" aria-valuemax="100"></div>
						</div>
					</div>
				</div>

				<div class="col-md-6">
					<div class="g-bg-main g-color-white g-pa-25">
						<header class="d-flex text-uppercase g-mb-40">
							<i class="icon-layers align-self-center display-4 g-mr-20"></i>

							<div class="g-line-height-1">
								<h4 class="h5">AOC Owned</h4>
								<div class="js-counter g-font-size-30" data-comma-separated="true">Ω{{user.totalAOC}}</div>
							</div>
						</header>

						<h6 class="g-mb-10">Percent of AOC
							<span class="float-right g-ml-10">{{user.percentAOC}}%</span>
						</h6>
						<div class="js-hr-progress-bar progress g-bg-black-opacity-0_1 rounded-0 g-mb-10">
							<div class="js-hr-progress-bar-indicator progress-bar g-bg-white u-progress-bar--xs" role="progressbar" style="width: {{user.percentAOC}}%;"
							aria-valuenow="{{user.percentAOC}}" aria-valuemin="0" aria-valuemax="100"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="row g-md-40">
				<div class="col-md-6">
					<ul class="list-unstyled">
						<li class="g-brd-around g-brd-gray-light-v4 g-pa-20 g-mb-minus-1">
							<div class="media">
								<div class="d-flex g-mt-2 g-mr-15">
									<img class="g-width-50 g-height-50 rounded" src="/assets/img/btc.png" alt="Bitcoin">
								</div>
								<div class="media-body">
									<p class="m-0">
										<strong>Bitcoin</strong> AOC Purchase Address</p>
									{{#if user.btcAddress}}
									<span class="g-font-size-12 g-color-gray">{{user.btcAddress}}</span>
									{{else}}
									<form method="post">
										<input type="hidden" name="action" value="getBTCAddress">
										<button id="getBTCAddress" type="submit" class="btn btn-primary">Get BTC Address</button>
									</form>
									{{/if}}
								</div>
							</div>
						</li>
						<li class="g-brd-around g-brd-gray-light-v4 g-pa-20 g-mb-minus-1">
							<div class="media">
								<div class="d-flex g-mt-2 g-mr-15">
									<img class="g-width-50 g-height-50 rounded" src="/assets/img/bch.png" alt="Bitcoin Cash">
								</div>
								<div class="media-body">
									<p class="m-0">
										<strong>Bitcoin Cash</strong> AOC Purchase Address
									</p>
									{{#if user.bchAddress}}
									<span class="g-font-size-12 g-color-gray">{{user.bchAddress}}</span>
									{{else}}
									<form method="post">
										<input type="hidden" name="action" value="getBCHAddress">
										<button id="getBCHAddress" type="submit" class="btn btn-primary">Get BCH Address</button>
									</form>
									{{/if}}
								</div>
							</div>
						</li>
						<li class="g-brd-around g-brd-gray-light-v4 g-pa-20 g-mb-minus-1">
							<div class="media">
								<div class="d-flex g-mt-2 g-mr-15">
									<img class="g-width-50 g-height-50 rounded" src="/assets/img/eth.png" alt="Ether">
								</div>
								<div class="media-body">
									<p class="m-0">
										<strong>Ethereum</strong> AOC Purchase Address</p>
									{{#if user.ethAddress}}
									<span class="g-font-size-12 g-color-gray">{{user.ethAddress}}</span>
									{{else}}
									<form method="post">
										<input type="hidden" name="action" value="getETHAddress">
										<button id="getETHAddress" type="submit" class="btn btn-primary">Get ETH Address</button>
									</form>
									{{/if}}
								</div>
							</div>
						</li>
						<li class="g-brd-around g-brd-gray-light-v4 g-pa-20 g-mb-minus-1">
							<div class="media">
								<div class="d-flex g-mt-2 g-mr-15">
									<img class="g-width-50 g-height-50 rounded" src="/assets/img/ltc.png" alt="litecoin">
								</div>
								<div class="media-body">
									<p class="m-0">
										<strong>Litecoin</strong> AOC Purchase Address</p>
									{{#if user.ltcAddress}}
									<span class="g-font-size-12 g-color-gray">{{user.ltcAddress}}</span>
									{{else}}
									<form method="post">
										<input type="hidden" name="action" value="getLTCAddress">
										<button id="getLTCAddress" type="submit" class="btn btn-primary">Get LTC Address</button>
									</form>
									{{/if}}
								</div>
							</div>
						</li>
						<li class="g-brd-around g-brd-gray-light-v4 g-pa-20 g-mb-minus-1">
							<div class="media">
								<div class="d-flex g-mt-2 g-mr-15">
									<img class="rounded" src="/assets/img/icons/paymentOptions.png" alt="">
								</div>
								<div class="media-body">
									<p class="m-0">
										Buy With
										<strong>CC, Apple Pay, or Google Pay</strong>
									</p>
									{{#if user.address.postcode}}
									<div class="row">
									<div class="col-md-12">
									<!-- Quantity -->
									<div class="form-group">
										<div class="input-group u-quantity-v1 w-100 g-brd-gray-light-v3 g-brd-primary--focus">
											<div class="input-group-addon justify-content-center g-width-40 g-font-size-16 g-color-gray g-bg-gray-light-v5 rounded-0">$</div>
											<input id="amount" class="form-control text-center g-font-size-16 rounded-0 g-pa-10-16" type="number" step="5" min="25" placeholder="Minimum $25">
									</div>
									<small id="amountError" class="form-control-feedback d-block g-bg-red g-color-white g-font-size-12 g-px-14 g-py-3 mt-0 invisible">Minimum Purchase is $25.</small>
									</div>
										<div class="col-md-12">
											<button id="purchase" class="btn btn-block u-btn-black g-brd-main--hover g-bg-primary g-bg-main--hover btn-md g-mb-10 g-font-weight-800" disabled="disabled" >Buy with CC</button>
											<div id="payment-request-button">
											
											<!-- A Stripe Element will be inserted here. -->
										</div>
										</div>
										
									</div>
									<script src="https://checkout.stripe.com/checkout.js"></script>
									<script src="https://js.stripe.com/v3/"></script>


									<script type="text/javascript">
										window.onload = function () {
											var field = document.getElementById('amount')
											var fieldError = document.getElementById('amountError');
											var amount = field.value;
											var button = document.getElementById('purchase');
												
											// Create a Stripe client
											var stripe = Stripe('pk_test_RbT4Th8LWuVtMhKsLr2wRWps');
											// Create an instance of Elements
											var elements = stripe.elements();
											function processCharge(t) {
												var body = {
													token: t,
													user: '{{user.email}}',
													amount: field.value*100,
												};
												if (t.token) {
													body.token = t.token
												}
												fetch('/api/stripe', {
													method: 'POST',
													body: JSON.stringify(body),
													headers: new Headers({
														'Content-Type': 'application/json'
													})
												})
												.then(function(res) {
													if (res.ok) {

														if (t.token) {
															t.complete('success');
														}
														location.reload();
													} else {

														if (t.token) {
															t.complete('fail');
														}
													}
												})
											} 
											var paymentRequest = stripe.paymentRequest({
												country: 'US',
												currency: 'usd',
												total: {
													label: 'AOCoin',
													amount: amount*100,
												},
											});
											var prButton = elements.create('paymentRequestButton', {
												paymentRequest: paymentRequest,
											});
											// Check the availability of the Payment Request API first.
											paymentRequest.canMakePayment().then(function (result) {
												if (result) {
													prButton.mount('#payment-request-button');
												} else {
													document.getElementById('payment-request-button').style.display = 'none';
												}
											});
											paymentRequest.on('token', function (ev) {
												processCharge(ev);
											});

											var handler = StripeCheckout.configure({
												key: 'pk_test_RbT4Th8LWuVtMhKsLr2wRWps',
												image: '/assets/img/icons/favicon-96x96.png',
												locale: 'auto',
												token: function(token) {processCharge(token)},
												zipCode: true,
												billingAddress: true,
												email: '{{user.email}}',
											});

											field.addEventListener('input', function(e) {
												amount = field.value;
												if (amount < 25) {
													fieldError.classList.remove('invisible');
													button.disabled = true;
												} else {
													fieldError.classList.add('invisible');
													button.disabled = false;
													paymentRequest.update({
														total:{
															label: 'AOCoin @ $0.00125/AOC',
															amount: amount*100,
														},
													})
												}
											});
											button.addEventListener('click', function(e) {
											// Open Checkout with further options:
												handler.open({
													name: 'AO Blockchain System',
													description: 'AOCoin @ $0.00125',
													amount: amount*100,
												});
												e.preventDefault();
											});
											

											// Close Checkout on page navigation:
											window.addEventListener('popstate', function() {
												handler.close();
											});
											
										}

									</script>
									{{else}} Please add your address to your account in order to buy with CC, Apple Pay, or Google Pay. {{/if}}
								</div>
							</div>
						</li>
					</ul>

				</div>
				<div class="col-md-6">
					<ul class="list-unstyled">
						<li class="g-brd-around g-brd-gray-light-v4 g-pa-20 g-mb-minus-1">
							<div class="media">
								<div class="media-body">
									<p class="m-0">
										<strong>Referral</strong> Address
									</p>
									<span class="g-font-size-12 g-color-gray">https://aoblockchain.io/pre-sale?aff={{user._id}}</span>
									<span class="g-font-size-12 g-color-gray">
										<a href="/blog/post/affiliate-marketing-guide">Affiliate Marketing Guide</a>
									</span>
								</div>
							</div>
						</li>
						<li class="d-flex justify-content-start g-brd-around g-brd-gray-light-v4 g-pa-20 g-mb-minus-1">
							<div class="align-self-center g-px-10">
								<h5 class="h6 g-font-weight-600 g-color-black g-mb-3">
									<p class="m-0">
										<strong>Referred Value</strong> by Currency
										<br/>
										<small>USD is total value of all other currency</small>
									</p>
								</h5>
								{{#if user.referredUSD}}
								<span class="u-label u-label--sm g-bg-purple g-rounded-20 g-ml-5 ">${{user.referredUSD}}</span>{{/if}} {{#if user.referredBTC}}
								<span class="u-label u-label--sm g-bg-purple g-rounded-20 g-ml-5 ">฿{{user.referredBTC}}</span>{{/if}} {{#if user.referredBCH}}
								<span class="u-label u-label--sm g-bg-purple g-rounded-20 g-ml-5 ">฿{{user.referredBCH}}</span>{{/if}} {{#if user.referredETH}}
								<span class="u-label u-label--sm g-bg-purple g-rounded-20 g-ml-5 ">${{user.referredETH}}</span>{{/if}} {{#if user.referredLTC}}
								<span class="u-label u-label--sm g-bg-purple g-rounded-20 g-ml-5 ">${{user.referredLTC}}</span>{{/if}}
							</div>
							<div class="align-self-center ml-auto">
								<span class="g-font-size-12 g-color-purple">{{user.totalReferred}} referred</span>
							</div>
						</li>
						<li class="g-brd-around g-brd-gray-light-v4 g-pa-20 g-mb-minus-1">
							<div class="media">
								<div class="media-body">
									<p class="m-0">
										<strong>Bonus USD</strong> From Referrals
									</p>
									<span class="g-font-size-12 g-color-gray">${{user.referralBonus}}</span>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		{{> profileSidebar}}
	</div>
	<div class="row">
		<!-- Hover Rows -->
		<div class="col-md-12">
			<div class="card g-brd-darkpurple rounded-0 g-mb-30">
				<h3 class="card-header g-bg-main g-brd-transparent g-color-white g-font-size-16 rounded-0 mb-0">
					<i class="fa fa-gear g-mr-5"></i>
					Transactions
				</h3>

				<div class="table-responsive">
					<table class="table table-hover u-table--v1 mb-0">
						<thead>
							<tr>
								<th>Amount</th>
								<th>Currency</th>
								<th>USD Value</th>
								<th class="hidden-sm">Total USD Value</th>
								<th class="hidden-sm">Type</th>
							</tr>
						</thead>
						<tbody>
							{{#each summary.investments}}
							<tr>
								<td>{{amount}}</td>
								<td>{{currency}}</td>
								<td>{{usdValue}} {{currency}} / USD</td>
								<td class="hidden-sm">{{totalValue}}</td>
								<td class="hidden-sm">{{type}}</td>
							</tr>
							{{/each}}
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<!-- End Hover Rows -->
	</div>
</div>
