<div class="g-pos-rel g-py-30 g-mt-80">
	<div class="container">
		<div class="row justify-content-center">
			<h1>Request a password reset</h1>
			<!--
				Flash messages allow you to display once-off status messages to users, e.g. form
				validation errors, success messages, etc
			-->
			{{#if messages}}
			<div id="flash-messages" class="container">
				{{#if messages.info}}
				<div class="alert alert-info">
					{{{flashMessages messages.info}}}
				</div>
				{{/if}} {{#if messages.success}}
				<div class="alert alert-success">
					{{{flashMessages messages.success}}}
				</div>
				{{/if}} {{#if messages.warning}}
				<div class="alert alert-warning">
					{{{flashMessages messages.warning}}}
				</div>
				{{/if}} {{#if messages.error}}
				<div class="alert alert-danger">
					{{{flashMessages messages.error}}}
				</div>
				{{/if}}
			</div>
			{{/if}}
			<!-- The content block should contain the body of your template's content-->
			{{{body}}}
		</div>

		<div class="col-md-12 align-self-center">
			{{#if emailSent}}
			<h3>An email has been sent with a password reset link.</h3>
			{{else}}
			<form method="post">
				<input type="hidden" name="action" value="contact">
				<div class="form-group {{#if validationErrors.email}}has-error{{/if}}">
					<label>Email</label>
					<input type="email" name="email" class="form-control" value="{{formData.email}}"> {{#if validationErrors.email}}
					<span class="help-block">{{validationErrors.email}}</span>{{/if}}
				</div>
				<div class="form-actions">
					<button type="submit" class="btn btn-block u-btn-primary g-font-weight-600 g-font-size-12 text-uppercase g-rounded-right-0 g-rounded-left-3 g-px-25 g-py-13">Request Password Reset</button>
				</div>
			</form>
			{{/if}}
		</div>
	</div>
</div>
