<section class="section">
	<div class="container">
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
				<article>
					<header>
						<h1>{{data.post.title}}</h1>
                        <p><a href="/blog">&larr; back to the blog</a></p>
                        <h5>
							{{{categoryList data.post.categories prefix="Posted in "}}}
							{{#if data.post.author.name.first}}by {{data.post.author.name.first}}{{/if}}
						</h5>
					</header>
					<img class="img-rounded" src="{{data.post.image.secure_url}}"/>
					<div class="post">
						{{{data.post.content.extended}}}
					</div>
				</article>
			</div>
		</div>
	</div>
</section>
